.manSlider-kitkat {
    background: url(../img/xian.png) repeat-x center center;
    border: none;
}
.manSlider-kitkat.manSlider-horizontal {
    height: 2px;
}

.manSlider-kitkat .manSlider-state-default {
    background: url(../img/handle.png) no-repeat center center;
    border: none;
    width: 22px;
    height: 27px;
}

.manSlider-kitkat.manSlider-horizontal .manSlider-handle {
    margin-top: -11px;
}
